

main {
  padding-top: 40px;
  margin: 0 20px;
}

div {
  margin-bottom: 20px;
  width: 100%
}

label {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.passwordInput--container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input--style {
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  width: 80%;
  border: 1px solid #f1f9f1;
  box-shadow: 2px 2px 12px -2px rgba(34,68,17,0.75);
  -webkit-box-shadow: 2px 2px 12px -2px rgba(34,68,17,0.75);
  -moz-box-shadow: 2px 2px 12px -2px rgba(34,68,17,0.75);
}

.copyIcon--style {
  height: 30px;
}

.passwordSlider--container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 10px; 
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%; 
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  border-radius: 50%; 
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.charaterText--style {
  font-weight: bold;
}

.passwordCheckboxs--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.charater--style {
  font-weight: 400;
}

/*Hide the native checkbox input styling*/
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  color: green;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

@media only screen and (min-width: 600px){
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 70%;
    max-width: 50%;
    padding-top: 0;
    height: 100vh;
    margin: auto;
  }
  
}